<%= $game.whose_turn%>'s Turn

<%= $game.player_one.name %> vs. <%= $game.player_two.name %>

<%= $game.player_two.name %>: <%= $game.player_two.hp %>HP


<form action="/attack"> 
<input type="submit" value="Attack"> 
</form>



